.main {
    width: 100%;
    background: black;
    border: solid 1px rgba(255,255,255,.1);
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 1rem;
    animation: change 2s ease;
}
@keyframes change {
    from {
        opacity: 0%;
    }
    to { 
        opacity: 100%;
    }
}