.main {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: black;
    border: solid 1px rgba(255,255,255,.1);
    background: rgba(255,255,255,0.1);
    animation: change 2s ease;
}
.main h3 {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px rgba(255,255,255,.1)
}
.contenedorPuertas {
    display: flex; 
    flex-wrap: wrap;
    gap: .5rem;
}
@keyframes change {
    from {
        opacity: 0%;
    }
    to { 
        opacity: 100%;
    }
}