.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page form{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: .2rem;
  padding: 2rem;
  border: solid 1px #131313;
}
.page form input:last-of-type {
  border: none;
  height: 2rem;
  background-color: black;
  border: solid 1px #131313;
  transition: background 2s ease;
}
.page form input:last-of-type:hover {
  background: white;
  color: black;
}