.main {
    background: white;
    width: 100%;
}
.sidebar {
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 1rem;
    border: solid 2px black;
    display: none;
}
.visible {
    width: 12rem;
    display: flex;
}
.btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
}

@keyframes test {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}